@import "tailwindcss";

@theme {
  --color-surface: #FCFFE7;
  --color-surface-container: #DFE6BC;
  --color-surface-variant: #141414;
  --color-on-surface: #141414;
  --color-on-surface-container: #141414;
  --color-primary: #2B3467;
  --color-on-primary: #FCFFE7;

  --font-blackbird: 'Blackbird', sans-serif;
}

@font-face {
  font-family: Blackbird;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../public/fonts/Blackbird.woff2") format("woff2");
}